{% include 'header.html' %}
<div class="wrapper">
    {% block content %}
    <h2>All Items</h2>
    <!-- Updated changes message -->
    <div id="availability-message" style="text-align: center; color: green; font-weight: bold;"></div>
    <!-- To display items -->
    <div class="item-container-grid">
        {% for item in all_items %}
            <div class="item-container">
                <a style="padding-left: 90%;" href="{% url 'restaurants:delete-item-page' item.id %}" onclick="return confirm('Delete this item?')">❌</a>
                <h3>{{ item.dish_name }} : ₹{{ item.price }}</h3>
                <img class="item-img" src="{{ item.dish_image.url }}" alt="Dish Image">
                <br>
                <label>
                    <input type="checkbox"
                    class="availability-checkbox"
                    data-item-id="{{ item.id }}"
                    {% if item.is_available %}checked{% endif %}>
                    Available
                </label>
                <div class="item-description">
                    {{ item.description }}
                </div>
            </div>
        {% empty %}
            <p class="item-category">No items in this category.</p>
        {% endfor %}
    </div>
    {% endblock %}
</div>
{% include 'footer.html' %}

<script>
    document.querySelectorAll('.availability-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            const itemId = this.dataset.itemId;
            const isAvailable = this.checked;
            const messageDiv = document.getElementById('availability-message');
            fetch("{% url 'restaurants:update-availability-page' %}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'item_id': itemId,
                    'is_available': isAvailable
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    if (isAvailable) {
                        messageDiv.innerText = 'Item marked as Available ✅';
                        messageDiv.style.color = 'green';
                    } else {
                        messageDiv.innerText = 'Item marked as Not Available ❌';
                        messageDiv.style.color = 'red';
                    }
                    setTimeout(() => {
                        messageDiv.innerText = '';
                    }, 3000);
                } else {
                    alert('Error updating them.');
                }
            });
        });
    });
</script>