{% include 'header.html' %}
<div class="wrapper">
    {% block content %}
    <h2>Restaurant Registration</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Request</button>
    </form>
    {% endblock %}
</div>
{% include 'footer.html' %}