{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FoodSite | Delicious Delivered</title>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    </head> 
    <body>
        <header>
            {% if user.is_authenticated %}
                <a href="{% url 'home-page' %}">
                    <img src="{% static 'assets/images/logo.png' %}" alt="FoodSite logo" height="100">
                </a>
            {% else %}
                <h1><a href="{% url 'home-page' %}">FoodSite</a></h1>
            {% endif %}
            <nav>
                <a href="{% url 'home-page' %}">Home</a>
                <a href="#restaurants">Restaurants</a>
                <a href="#offers">Offers</a>
                <a href="#contact">Contact</a>
            </nav>
            <nav>
                {% if user.is_authenticated and user.user_type == 'restaurant' %}
                    {% if user.restaurant_owner.is_approved %}
                        {% if user.restaurant.address %}
                            <a href="{% url 'restaurants:dashboard-view-page' %}">Restaurant Dashboard</a><br>
                            <a href="{% url 'restaurants:dashboard-view-page' %}?section=item-category">Item Category</a><br>
                            <a href="{% url 'restaurants:all-item-page' %}">All Items</a>
                        {% else %}
                            <a href="{% url 'restaurants:restaurant-details-page' %}">Add Restaurant</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'restaurants:register-restaurant-page' %}">Register Restaurant</a>
                    {% endif %}
                {% endif %}
            </nav>
            <div class="auth-cart">
                <a href="#cart">🛒 Cart</a>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'users:logout-page' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button><!-- <a href="{% url 'users:logout-page' %}">Logout</a> -->
                    </form>
                    <a href="{% url 'users:profile-page' %}">{{ user.username }}<br>Profile</a>
                {% else %}
                    <a href="{% url 'users:login-page' %}">Login</a>
                {% endif %}
            </div>
        </header>

